.portrait {
    border:2px solid #DDD;
    width:100px;
    display:inline;
}

.homepage  { 
    font-size: 60px;
    color: orange;
    text-align: center;
    margin-right: 20px;

}

.para, .image-title{ 
    text-align: center;
}

.list {
    font-size: 30px;
    text-align: center;
    list-style-type: none;
}

.photo {
    width: 100%;
    padding-top: 15px;
    padding-bottom: 10px;
}

.unorder {
    position: fixed;
    top: 0;
    width: 100%;
    overflow: hidden;

}
.list{
    display: inline;
    float: right;
}

li a:hover {
    background-color: #111;
}

.logo {
    width: 500px;
    height: auto;
}